<div class="fits generators-container">

    <collapsible-panel panel-title="FITs search" model="vm.model.searchPanel">
        <div class="generators-container container-fluid">
            <form novalidate ng-submit="vm.search()">
                <fit-search-filter model="vm.model.searchModel" fields="vm.model.searchFields"></fit-search-filter>
                <input type="submit" hidden/>
            </form>
            <div class="row">
                <div class="row col-md-12">
                    <button type="button" ng-click="vm.search()" class="btn btn-default btn-fits">Search</button>
                    <button type="button" ng-click="vm.clearInputs()" class="btn btn-default btn-fits">Clear</button>
                </div>
            </div>
        </div>
    </collapsible-panel>
    <div ui-view class="fits-container"></div>
</div>