<div class="panel-body">
    <div class="width-50 lefted">
        <fit-output label="Generation Tariff Name" attr-id="tariffName" model="vm.model.currentModel.generatorTariff"></fit-output>
        <fit-output label="Generation Rate" attr-id="rate" model="vm.model.currentModel.generationTariffRate"></fit-output>
        <fit-output label="Generation Tariff Allocation Date" attr-id="tariffAllocationDateCalculation" model="vm.model.currentModel" type="date"></fit-output>
        <fit-output label="Generation Rate Start Date" attr-id="rateStartDate" model="vm.model.currentModel.generationTariffRate" type="date"></fit-output>
        <fit-output label="Generation Rate End Date" attr-id="rateEndDate" model="vm.model.currentModel.generationTariffRate" type="date"></fit-output>
    </div>
    <div class="row width-50 lefted">
        <fit-output label="Export Tariff Name" attr-id="tariffName" model="vm.model.currentModel.exportTariff"></fit-output>
        <fit-output label="Export Rate" attr-id="rate" model="vm.model.currentModel.exportTariffRate"></fit-output>
        <fit-output label="Export Rate Start Date" attr-id="rateStartDate" model="vm.model.currentModel.exportTariffRate" type="date"></fit-output>
        <fit-output label="Export Rate End Date" attr-id="rateEndDate" model="vm.model.currentModel.exportTariffRate" type="date"></fit-output>
        <fit-output label="Export Proportion" attr-id="exportProportion" model="vm.model.currentModel"></fit-output>
    </div>
</div>
